<a href="/dashboard">&larr;</a>
<div class="admin-title">
    <h2>Add New Post</h2>
</div>

<form action="/add-post" method="Post">

    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="post Title" name="title">

    <label for="Body"><b>content</b></label>
    <textarea name="Body" cols="50" rows="10"></textarea>

    <input type="submit" value="Add" class="btn">


</form>