<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<header class="header">
    <a href="/" class="header__logo">User Panel</a>
  
    <nav class="header__nav">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
  
    </nav>
  
    <div class="header__button">
      <a href="/">Logout</a>
    </div>
  
  </header>