

<header class="header">
    <a href="/" class="header__logo">My Blog</a>
  
    <nav class="header__nav">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </nav>
  
    
    
  
  </header>
