<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<header class="header">
    <a href="/" class="header__logo">Admin Panel</a>
  
    <nav class="header__nav">
      
  
    </nav>
    <div>
      <div class="dropdown" >
        <% userdata.forEach(user => { %>
              <button class="logoutBtn" style="text-align: right;">
                Hello..<%= user.username %>
              </button>
              <div class="dropdown-content">
                <a href="/logout">Logout</a>
              </div>  
        <% }) %>
        </div>
    </div>
  
  </header>