<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<header class="header">
    <a href="/" class="header__logo">NodeJs</a>
  
    <nav class="header__nav">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
  
    <div class="header__button">
      <button class="searchBtn" aria-expanded="false">
        Search<i class="fa fa-search"></i>
      </button>
      <a href="/login">Login</a>
    </div>
    
  
  </header>

<!-- <header class="blog-header"> -->
        <!-- Logo -->
        <!-- <div class="logo">
            <a href="#">My Blog</a>
        </div> -->
        <!-- Navigation -->
        <!-- <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav> -->

        <!-- <div class="search-container">
            <input type="text" placeholder="Search..." class="search-input">
            <button class="search-button">search
                <i class="fa fa-search"></i>
            </button>
        </div>
</header> -->