<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">


<header class="header">
    <a href="/" class="header__logo">User Panel</a>
  
    <nav class="header__nav">
      <ul>
        <a href="/chatdashboard">
           Chat Box<i id="notBell" class="fas fa-bell"></i>
        </a>
      </ul>
  
    </nav>
  
    <div class="header__button">
      <div class="dropdown" >
        <% userdata.forEach(user => { %>
              <button class="logoutBtn" style="text-align: right;">
                Hello..<%= user.username %>
              </button>
              <div class="dropdown-content">
                <a href="/logout">Logout</a>
              </div>  
        <% }) %>
        </div>
    </div>
  
  </header>