<div class="container">
    <div class="box">
      <h2>Welcome</h2>
      <p>Choose an option to continue</p>
      <div class="button-container">
        <button class="btn1 login-btn"><a href="/signin">Login </a></button>
        <button class="btn1 signup-btn"><a href="/register">Sign Up</a></button>
      </div>
    </div>
  </div>