<a href="/dashboard/_id">&larr;</a>
<div class="admin-title">
    <h2>View / Edit Post</h2>
</div>



<form action="/post-edit/<%= data._id%>?_method=PUT" method="post">

    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="post Title" name="title" value="<%= data.title%>">

    <label for="Body"><b>content</b></label>
    <textarea name="Body" cols="50" rows="10"><%= data.body%></textarea>

    <input type="submit" value="update" class="btn">


</form>